// category
.category {
    display: inline-block;
}

.sub-cate-btn {
    width: 278px;
    height: 40px;

    &:hover {
        background-color: rgba(43, 52, 69, 0.04) !important;
    }
}

.cate-title {
    color: #7d879c;
    font-size: 1.5rem;
    margin-top: 4px;
    flex: 1;
    text-align: left;
}

.cate-icon {
    color: var(--black);
    margin-left: 1px;
    margin-right: 8px;
}
