// category
.category {
    display: inline-block;
}

.sub-cate-btn {
    width: 278px;
    height: 40px;

    &:hover {
        background-color: rgba(43, 52, 69, 0.04) !important;
    }
}

.cate-title {
    color: #7d879c;
    font-size: 1.5rem;
    margin-top: 4px;
    flex: 1;
    text-align: left;
}

.cate-icon {
    color: var(--black);
    margin-left: 1px;
    margin-right: 8px;
}

.cate-item {
    width: 100%;
    height: 40px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }

    &:hover .cate-item-icon {
        color: var(--primary-color);
    }

    &:hover span {
        color: var(--primary-color);
    }
}

.cate-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #2b3445;
    margin-bottom: 3px;
}
