.phone-layout {
    min-height: 400px;
    margin: auto;
    max-width: var(--width-website);
    padding: 0 24px 20px;
    display: flex;
}

.phone-container {
    flex: 1;
    padding-left: 24px;
}
