.home-container {
    background-color: var(--website-background-color);
}

// deals
.deals {
    max-width: var(--width-website);
    margin: auto;
    margin-bottom: 60px;
    padding: 60px 24px 20px;
}

// snack bar
.snackbar {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.4rem;
}

//rate-feature
.rate-feature {
    max-width: var(--width-website);
    margin: auto;
    margin-bottom: 60px;
    padding: 0px 24px;
}
