.wrapper-shop {
    background-color: var(--website-background-color);
}

.container {
    max-width: var(--width-website);
    margin: auto;
    padding: 32px 24px 48px;
}

//paginate
.paginate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 12px;

    & span {
        color: #7d879c;
    }
}
