.snackbar {
    display: flex;
    align-items: center;
}

.snackbar-title {
    font-size: 1.4rem;
    color: var(--text-color);
}

.wrapper {
    margin: 0 -6px;
}

.pagination-control {
    text-align: right;
    margin-top: 18px;
    padding: 0 10px;
}
