// more for you
.more-for-you {
    max-width: var(--width-website);
    margin: auto;
    margin-bottom: 60px;
    padding: 0px 24px;
}

// mobile
@media (max-width: 767px) {
    .product-item-phone {
        height: 170px;
    }
}
