.wrapper-sale {
    background-color: var(--website-background-color);
}

.container {
    max-width: var(--width-website);
    margin: auto;
    padding: 20px 24px 48px;
}

.heading {
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 32px;

    & span:first-child {
        color: var(--primary-color);
    }

    & span:last-child {
        color: #7d879c;
    }
}

.content {
    margin-top: 40px;
}

// category-item
.cate-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgb(218, 225, 231);
    padding: 10px 0;
    width: 100%;

    &.active {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);

        & > svg {
            color: var(--primary-color);
        }

        & .cate-name {
            color: var(--primary-color);
        }
    }
}

.cate-name {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 8px;
    color: var(--text-color);
}

//bottom
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 38px;

    & .sale-text {
        color: #7d879c;
        font-size: 1.5rem;
    }

    & .sale {
        padding: 0;
        margin: 0;
    }
}

// mobile
@media (max-width: 767px) {
    .product-item-modify {
        height: 170px;
    }
}
