.admin {
    display: flex;
    align-items: center;
}

// admin container
.admin-container {
    margin-left: 280px;
    flex: 1;
    background-color: #f6f9fc;
}

.content {
    margin-top: 72px;
}
