.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 38px;

    & .sale-text {
        color: #7d879c;
        font-size: 1.5rem;
    }

    & .sale {
        padding: 0;
        margin: 0;
    }
}
