//top rating
.container-img-top-rating {
    position: relative;
    margin-bottom: 16px;

    &:hover .overlay {
        opacity: 0.5;
    }
}

.top-rating-img {
    width: 100%;
    height: 118px;
    border-radius: 8px;
    transition: all ease 0.3s;
}

.overlay {
    opacity: 0;
    transition: all ease 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background-color: #787878;
}

.top-rating-name {
    max-width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 4px 0;
    display: -webkit-box;
    overflow: hidden;
    height: 2rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--text-color);
}

.top-rating-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}
