.header {
    border-bottom: 1px solid #f3f5f9;
    height: var(--height-header);
}

.wrapper {
    margin: auto;
    width: var(--width-website);
    padding: 0 24px;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-top-header);
}

.logo {
    height: 44px;
}

.action {
    display: flex;
    align-items: center;
}

.action-btn {
    background-color: #e4e4e4;
}

.action-icon {
    width: 20px;
    height: 20px;
    color: rgba(0, 0, 0, 0.54);
}
