.header {
    border-bottom: 1px solid #f3f5f9;
    height: var(--height-header);
}

.wrapper {
    margin: auto;
    width: var(--width-website);
    padding: 0 24px;
    height: 100%;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-top-header);
}

.logo {
    height: 44px;
}

.action {
    display: flex;
    align-items: center;
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - var(--height-top-header));
}
