//support
.support {
    max-width: var(--width-website);
    margin: auto;
    padding: 0px 24px 60px;
}

.title {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

.desc {
    line-height: 1.5;
    text-align: center;
    color: #7d879c;
}
