.cate-item {
    width: 100%;
    height: 40px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }

    &:hover .cate-item-icon {
        color: var(--primary-color);
    }

    &:hover .title {
        color: var(--primary-color);
    }
}

.title {
    margin-left: 8px;
    margin-top: 4px;
}
